*{
    margin: 0;
    padding: 0;
}

.container{
    background-color: rgb(242, 242, 242);
    padding: 40px 0;
}

.main-container{
    margin: 0px 200px;
    background-color: rgb(255, 255, 255);
    border-radius: 40px;
    padding: 20px 0px
}

.header{
    display: flex;
    text-align: center;
    align-items: center;
}

.logo{
    width: 200px;
    padding: 0px 60px;
}

.info-principal{
    display: flex;
    align-items: center;
    padding: 0px 60px;
}

.info{
    width: 600px;
    font-size: 20px;
    color: #6e6e6e;
    font-family: "Inter", sans-serif;
}

.imagem-principal{
    width: 400px;
}

.titulo{
    font-family: "Oswald", sans-serif;
    color: #00ac1d;
    font-weight: bold;
    padding-bottom: 10px;
    font-size: 40px;
    width: 450px;
}

.button-cta{
    background-color: #02eb29;
    color: #fff;
}